.button {
  padding: 0 20px;
  height: var(--input-height);
  border: 0;
  border-radius: var(--box-border-radius);
  background-color: var(--primary-color);
  font-weight: bold;
  color: var(--primary-color-text);
  margin-top: 8px;
  cursor: pointer;
}

.buttonFullWidth {
  width: 100% !important;
}

.button:hover {
  opacity: 0.7;
}

.buttonSecondary {
  background-color: var(--highlight-color) !important;
  align-self: center;
}
