.container hr {
  border: 0;
  border-bottom: 1px solid #ced0d4;
}

.userData {
  display: flex;
  margin-bottom: 14px;
}

.userData > div {
  margin-left: 8px;
}

.userData > div > div {
  font-weight: bold;
}

.userData > div > span {
  font-size: 12px;
  color: var(--text-info);
}

.postText {
  font-size: 14px;
  margin-bottom: 14px;
}

.buttonLikeComment {
  display: flex;
  justify-content: space-around;
}

.commentContainer {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.commentContainer input {
  flex: 1;
  margin-left: 14px;
  height: var(--input-height);
  border-radius: calc(var(--input-height) / 2);
  background-color: var(--input-background-color);
  border: 0;
  padding: 0 var(--input-padding);
}
